<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="*/app.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <rule name="set">
          <match url="set/" />
          <action type="Rewrite" url="set/app.js" />
        </rule>
        <rule name="set-socket" patternSyntax="ECMAScript">
          <match url="socket.io/" />
          <action type="Rewrite" url="set/app.js" />
        </rule>
        <rule name="set-server">
          <match url="set-server/" />
          <action type="Rewrite" url="set-server/app.js" />
        </rule>
      </rules>
    </rewrite>
    <webSocket enabled="false" />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>