script(src="/socket.io/socket.io.js")
script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js")
h1 server
table(border="1")
	tr
		td Player
		td Score
		td Board
		td Deck
	each game in games
		tr
			td #{game.playerState.name}
			td #{game.playerState.score}
			td 
				each card in game.boardState
					#{card.card}
			td #{game.deckState}
hr
form(action="/set/newGame", method="post")
	table(border="1") 
		tr
			td Player Name: 
			td 
				input(name="player", type="textbox")
	input(type="submit", value="New Game")
hr
script.
	var address = window.location.protocol + '//' + window.location.host;
	var details = {
		resource: (window.location.pathname.split('/').slice(0, -1).join('/') + '/socket.io').substring(1)
	};

	var socket = io.connect(address, details); 
	socket.on('announcement', function(data)
	{
		displayMessage(data.message);
	});
	socket.on('message', function(data)
	{
		displayMessage(data.message);
	});
	function sendMessage()
	{
		socket.emit('message', {message: $("#mbox").val()});
	};
	function displayMessage(message)
	{
		$("#output").append(message + "<br/>");
	};
p Socket events:
input(id="mbox" type="textbox")
input(value="Send Message" type="submit" onclick="sendMessage();")
div(id="output")