script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js")
link(rel='stylesheet', href='/set/stylesheets/set.css')
script(src="/socket.io/socket.io.js")
script.
	var address = window.location.protocol + '//' + window.location.host;
	var details = {
		resource: (window.location.pathname.split('/').slice(0, -1).join('/') + '/socket.io').substring(1)
	};
script(src="/set/javascripts/set.js")
body
	table(id="scoreTable")
		tr
			td 
				input(type="button" value="New Game" id="newgame" onclick="newGame();")
			td(id="score" class="score") Score
		tr
			td
				input(type="button" value="No Set" id="noset" onclick="noSet();")
			td(id="cardsLeft" class="score") Cards Remaining
	div(id="status" class="status") Welcome to Set!
	table(id="setTable")
		tr
			td
			td
			td
		tr
			td
			td
			td
		tr
			td
			td
			td
		tr
			td
			td
			td
		tr
			td
			td
			td
		tr
			td
			td
			td
	table
		tr
			td Name:
				input(id="player", type="textbox")
			td
				div(id="gameid" class="score") Game ID
	p Socket events:
	input(id="mbox" type="textbox")
	input(value="Send Message" type="submit" onclick="sendMessage();")
	div(id="output")